/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 960px;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h3, h4, h5, p {
  margin-bottom: 22px;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  border-radius: 5px;
  display: inline-block;
  margin: 0;
}
.btn-alt {
  border: 1px solid #dfe2e5;
  padding: 10px 30px;
}

/*
  ========================================
  Home page
  ========================================
*/

.hero {
  padding: 22px 80px 66px 80px;
}
/*
  ========================================
  original setting
  ========================================
*/
@charset "UTF-8";

article, aside, footer, header, main, nav, section{
	display: block;
}

html, body, h1, h2, h3, ui, li, a, p,
article, aside, footer, header, main, nav, section{
	padding: 0;
	margin: 0;
}

html {
  color: #555;
}

.banner{
background-color: #11233b;
color: white;
padding: 10px 20px;
}

body{
width: 960px;
margin-left: auto;
margin-right: auto;
background-color: #f0f0f0;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 16px;
line-height: 23px;
word-spacing: .25em;
}

h1, h2, h3, h4, h5{
  color: #648880;
  
}
h1 {
  font-size: 36px;
  line-height: 40px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .2);
}
h2 {
  font-weight: 300;
  font-style: italic;
  
  font-family: Georgia, Times, "Times New Roman", serif;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .2);
}
h3{
  font-weight: 300;
  font-style: italic;
  font-weight: bold;
  
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 21px;
  margin-bottom: 20px;
  line-height: 25px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
}
h4 {
  font-size: 18px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
}

h5 {
  font-size: 14px;
  font-weight: 400;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
}

p {
	max-width: 600px;
	margin-bottom: 20px;
	text-indent: 40px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
}

a {
  color: #0087cc;
}
a:hover {
  color: #ff7b29;
}

nav{
	background-color: #20416c;
	padding: 5px;
	margin-top:1px;	
}

li a{
	color: white;
}

li{
	display: inline;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 20px;
	font-variant: small-caps;
	font-weight:bold;
}

section{
	background-color: bbbbbb;
	margin-top: 10px;
	padding: 5px;
}

article{
	background-color: white;
	margin-top: 5px;
	padding: 10px 15px;
}

main{
	width: 640px;
	float: left;
	margin-bottom: 10px;
}

aside{
	background-color: bbbbbb;
	width: 270px;
	float: right;
	padding: 20px;
	margin-top: 10px;
}

footer{
	clear: both;
	background-color: #20416c;
	color: white;
	padding: 5px 20px;
}